body {background-color: rgb(41, 174, 218);font-family: Arial, sans-serif;}
h1 {color: rgb(38, 38, 59)}
h2 {color: rgb(255, 255, 255);}
p {color: rgb(41, 40, 48);}
button {background-color: rgb(64, 0, 255); color: white; font-weight: 700;}
